body {
    width: 900px;
    box-sizing: content-box;
}


header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 32px;
}

.logo-header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}

.links-header {
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li {

}


.a-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.a-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

.a-section-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.a-section-quote {
    font-size: 18px;
    color: #E5E7EB;
}

button.sign-up-top {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 4px 16px;
    width: 100px;
}

.picture-a {
    height: 200px;
    width: auto;
}



.b-section {
    background-color: white;
    padding: 16px;
}

.b-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 16px;
}

.b-section-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px;
}

.b-image-and-subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-image-formatting {
    height: 100px;
    width: auto;
}

.b-subtext-formatting {
    color: #1F2937;
}



.c-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.c-section-top {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.c-section-bottom {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    width: 750px; /* Might need to change this depending on width of viewing window */
}



.d-section {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 32px;
    gap: 32px;
    border-radius: 8px;
}

.d-section-left {
    padding: 16px 0px;
}

.d-section-header {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.d-section-details {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-bottom {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 16px;
    width: 100px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #1F2937;
    color: #E5E7EB;
}